

<h1>Welcome to the Therapup blog!</h1>

<h2>Please feel free to create a post about your favorite puppy below</h2>

<% @posts.each do |post| %>
  <%= post.title %>
  <%= link_to 'show', post_path(post)%><br>
<% end %>

<ul>
  <% @users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>

<br>
<%= link_to "make a new post", new_post_path %><br>


<div class="container-fluid">

  <div class="row" id="welcome">
      <div class="col-md-12 welcome">
        <h1>Help me, Help you *woof!*</h1>
        <%=image_tag("HogwartsCrest.png", class: "hogwarts")%>
      </div>
  </div>
  <div class="row meet" id="meet" >
      <h1>Meet some of our great puppies!</h1>
      <div class="col-md-4">
        <div class = "ron img-circle"></div>
        <h3>Peeta</h3>
        <p>Breed: Pitbull/Husky mix</p>
        <p class="quote">"I like to dig holes, mostly."</p>
      </div>
      <div class="col-md-4">
        <div class = "harry img-circle"></div>
        <h3>Meiko</h3>
        <p>Breed: Akita</p>
        <p class="quote">"Where's the food?"</p>
      </div>
      <div class="col-md-4">
        <div class = "hermione img-circle"></div>
        <h3>Monk</h3>
        <p>Pitbull</p>
        <p class="quote">"There's no way you'll be depressed after meeting me"</p>
      </div>
  </div>
  <div class="row houses" id="houses">
      <h1>Meet our Therapists!</h1>
      <div class = "col-md-3">
        <div class = "gryffindor crest"></div>
        <h3>Dr. Quinn (also a medicine woman)</h3>
        <p>Owns several puppies and has been practicing for 15 years.</p>
      </div>
      <div class = "col-md-3">
        <div class = "hufflepuff crest"></div>
        <h3>Dr. DoLittle</h3>
        <p>Has a sixth sense with animals and humans alike. Has been practicing for 20 years.</p>
      </div>
      <div class = "col-md-3">
        <div class = "ravenclaw crest"></div>
        <h3>Dr. Who?</h3>
        <p>Dr. Who is never boring, and is full of british adventure. Has been practicing for 13 years.</p>
      </div>
      <div class = "col-md-3">
        <div class = "slytherin crest"></div>
        <h3>Dr. M. Seuss</h3>
        <p>If you're depressed, grab a puppy and a drawing session with this fantastic therapist! Has been practicing for 30 years.</p>
      </div>
  </div>









</div>




<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
    <tr>
      <th>Commenter</th>
      <th>Body</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.commenter %></td>
        <td><%= user.body %></td>
        <td><%= user.post %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
    